


<html>
    <head> 
      <link href="style.css">
    </head>
                
    <body>
      <div class="home"  style="width: 100%;margin: 0 auto;background-color: #fff;border-radius: 5px;">
      <!-- <div style="color:#F98C89;text-align:center;padding:20px 0;font-size:45px;font-weight:bold;">
                            <img src="https://tradunity.com/wp-content/uploads/2018/07/KYC-Bench.jpg" class="logo" style="max-height: 100px;" alt="PICIRIS">
                        </div> -->
      <div style="width:100%;margin:10px auto;">
        <div style="color:#fff;font-weight:bold;font-size:24px;background-color:#E9053B;padding:2% 3%;width:94%;font-family:Century Gothic, sans-serif !important">
            Hackers Search: Forgot Password
        </div>
       <div style="color:#fff;width:100%;background-color:#FFF9EC">
        <div style="color:#000;padding:3%;width:94%;font-weight:normal;font-size:16px;font-family:Century Gothic, sans-serif !important">
          <b style="font-size:16px;margin-top:10px;font-weight:bold">Dear <%= userName%>,</b>
          <br/>
          <br/> Please click on the following link to reset your password.
          <br/>
          <p><a href="<%= link %>" style="background-color:#FFDC41;color:#000;text-align:center;padding:3px 10px;text-decoration:none;font-size:16px;font-weight:bold;cursor:pointer;" role="button">Click here to reset your password</a></p>
          <br/> For any other assistance or queries email us at 
            <a href="mailto:ebizweb17@gmail.com" style="background-color:#FFDC41;color:#000;text-align:center;padding:3px 10px;text-decoration:none;font-size:16px;font-weight:bold;cursor:pointer;">ebizweb17@gmail.com</a>
            <br/>
            <br/> Thank you,
            <br/>
            <br/> Team,
            <br/>
                                    <!-- <img src="https://tradunity.com/wp-content/uploads/2018/07/KYC-Bench.jpg" style="margin-top:10px;" height="30px" alt="PICIRIS"> -->
        </div>
      </div>                           
      </div>                
     </div>
    </body>                
 </html>